@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Suggested code may be subject to a license. Learn more: ~LicenseLog:3085036460. */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: yellow;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: #01E3F4;
  border: 1px solid #333333;
  cursor: pointer;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000000e1;
}

.navbar {
  top: 0;
  width: 100%;
  padding: 0.3rem 0;
  background-color: black;
  transition: background-color 0.2s ease, color 0.2s ease;
  font-family: poppins;
  z-index: 2;
}

.stick {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar.scrolled {
  background-color: #01E3F4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .navbar-brand,
.navbar.scrolled .nav-link {
  color: black !important;
}

.navbar.scrolled .nav-link:hover {
  color: black;
  background-color: yellow;
  box-shadow: black 0 5px 15px;
  transition: ease-in-out 0.1s;
}

.nav-link.active {
  background-color: #01E3F4 !important;
  color: black !important;
}

.navbar.scrolled .nav-link.active {
  background-color: yellow !important;
  color: black;
}

.navbar-brand {
  transition: color 0.2s ease;
  font-size: 1.5rem;
}

.nav-link {
  transition: color 0.2s ease;
  margin-left: 2rem;
  font-size: 1.05rem;
  color: white;
  font-family: calibri;
}

.nav-link:hover {
  color: #01E3F4;
  box-shadow: #01E3F4 0 5px 15px;
  transition: ease-in-out 0.1s;
}

.navbar-toggler {
  background-color: white;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: auto;
  padding: 0 5rem;
  margin-bottom: 4rem;
  border-radius: 10px;
  background-color: #3e3e3e;
  box-shadow: #000000ee 0 10px 25px;
}

.main-h1 {
  color: gold;
  font-family: poppins;
  text-align: center;
  font-size: 2rem;
  /* margin-top: 3.5rem; */
  padding: 1rem 0;
}

.intro {
  padding-top: 1rem;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  padding: 0 4rem;
  color: white;
  width: 69%;
}

.h-text {
  font-family: poppins;
}

.main-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.05rem;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

/*Social Media Icons CSS*/

.wrapper {
  display: inline-flex;
  gap: 10px;
}

.wrapper .icon {
  position: relative;
  background: #333333;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 8px 5px #01E3F4;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #ffffff;
  padding: 5px 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  border-radius: 4px;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: translate(-50%) rotate(45deg);
  -moz-transform: translate(-50%) rotate(45deg);
  -ms-transform: translate(-50%) rotate(45deg);
  -o-transform: translate(-50%) rotate(45deg);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.01);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #3b5999;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #46c1f6;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e1306c;
  color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #fff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #0077B5;
  color: #fff;
}

/*social media icons end */

.button {
  background-color: #01E3F4;
  color: black;
  border-radius: 5rem;
  border: none;
  padding: 0.5rem;
  will-change: transform;
  transform: translateZ(0);
}

.button:hover {
  box-shadow: #01E3F4 0px 5px 15px;
}

.main-img img {
  height: 280px;
  width: 280px;
  box-shadow: #000000 0 5px 15px;
  border-radius: 20rem;
  animation: glow 2s infinite;
  filter: contrast(1.2);
}

@keyframes glow {
  0% {
    box-shadow: #01E3F4 0;
  }

  100% {
    box-shadow: 0 0 15px 3px #01E3F4;
  }
}

.main-img img:hover {
  /* transition: ease-in-out 0.2s;
  transform: scale(1.05); */
  cursor: pointer;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill-container {
  height: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  border-radius: 10px;
  background-color: #3e3e3e;
  box-shadow: #000000ee 0 10px 25px;
  padding: 2rem;
}

.skill-h1 {
  color: white;
  font-family: poppins;
  text-align: center;
}

.skills-def {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 90%;
  padding: 1rem;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
}

.skills-def li {
  margin-top: 0.5rem;
}

.skills-def ul li strong {
  color: #01E3F4;
  font-family: poppins;
}

.skill-summary {
  height: auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  background-color: #3e3e3e;
  box-shadow: #000000ee 0 10px 25px;
  padding: 1rem;
}

.portfolio {
  height: auto;
  padding: 1.5rem 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  border-radius: 10px;
  background-color: #3e3e3e;
  box-shadow: #000000ee 0 10px 25px;
  font-family: poppins;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.portfolio-card {
  cursor: pointer;
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  gap: 20px;
  border-radius: 8px;
  overflow: hidden;
  /* will-change: transform; */
}

.portfolio-card:hover {
  /* transform: scale(1.05); */
  border: 1px solid #01E3F4;
  box-shadow: 0 4px 8px black;
}

.portfolio-image {
  height: auto;
  width: 95%;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
}

.portfolio-info {
  justify-content: center;
  color: white;
  padding: 14px 0;
  text-align: center;
  transform: translateZ(0);
}

.portfolio-info h3 {
  font-weight: 700;
  background-image: linear-gradient(128deg, #01E3F4, gold);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
}

.portfolio-info p {
  font-size: 16px;
  padding: 0 1rem;
  margin: 0;
}

.portfolio-info a {
  color: #007bff;
  text-decoration: none;
}

.portfolio-h1 {
  color: white;
  text-align: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-family: poppins;
}

.modal-content {
  background: #3e3e3e;
  color: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  max-width: 500px;
  width: 100%;
  box-shadow: #000000ee 0 10px 25px;
}

.modal-content a {
  text-decoration: none;
  text-align: center;
  color: white;
}

.modal-btn {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
}

.modal-btn button:hover {
  transition: background-color 0.2s ease;
  background-color: black;
  border: none;
}

/* .modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #01E3F4;
} */

/* .btn-success:hover {
  box-shadow: #01E3F4 0px 5px 15px; 
  width: auto; 
  cursor: pointer;
   transform: scale(1.01); 
} */

.img-container {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  width: 32%;
  height: auto;
  border: 1px solid gray;
  overflow: hidden;
  border-radius: 10px;
}

.img-container:hover {
  background-color: #01E3F4;
  /* box-shadow: #01E3F4 0 5px 15px; */
  border: 2px solid gold;
  cursor: pointer;
}

.img-container img {
  /* transition: transform 0.3s; */
  display: cover;
  overflow: hidden;;
  /* width: 38%; */
  height: auto;
}

.img-container img:hover {
  filter: drop-shadow(0 8px 5px black);
}

.hr {
  position: relative;
  margin: auto;
  top: 0.5rem;
  border: none;
  height: 0.3rem;
  width: 10%;
  border: none;
  background-image: linear-gradient(128deg, #01E3F4, gold);
  opacity: 1;
  margin-bottom: 3rem;
}

.about-container {
  align-items: center;
  height: auto;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 4rem;
  background-color: #3e3e3e;
  box-shadow: #000000ee 0 10px 25px;
}

.about {
  display: flex;
  justify-content: space-between;
  /* margin-top: 10px; */
}

.about-text {
  width: 100%;
  padding: 0 2rem;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.about-img img {
  height: 200px;
  width: 200px;
  box-shadow: #000000 0 5px 15px;
  border-radius: 20rem;
  filter: contrast(1.2);
  /* will-change: transform;
  transform: translateZ(0); */
}

.about-img img:hover {
  box-shadow: #01E3F4 0 0 15px 3px;
  cursor: pointer;
}

.contact {
  height: auto;
  padding: 3vh;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 4rem;
  color: white;
  background-color: #3e3e3e;
  box-shadow: #000000ee 0 10px 25px;

}

.contact-container {
  border: 1px solid grey;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  gap: 2rem;
}

.contact-img {
  width: 50%;
  height: auto;
  border-radius: 1rem;
}

/* .contact-img img {
width: 100%;
} */

.contact-form {
  padding: 2rem 3rem;
  background-color: #3e3e3e;
  box-shadow: #000000ee 0 10px 25px;
  border-radius: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 50%;
}

.contact-form input {
  border: none;
  background-color: rgb(231, 229, 229);
}

.contact-form textarea {
  border: none;
  background-color: rgb(231, 229, 229);
}

.send-btn {
  background-color: #01E3F4;
  color: black;
  padding: 0.5rem 2rem;
  border: none;
  font-size: 1.2rem;
  will-change: transform;
  transform: translateZ(0);
}

.send-btn:hover {
  background-color: #01E3F4;
  box-shadow: #01E3F4 0px 5px 15px;
  /* transform: scale(1.1); */
  color: black;
}

.btn-primary {
  background-color: #01E3F4;
  color: black;
  width: 8vw;
  padding: 1rem 0;
  border: none;
  font-size: 1.2rem;
}

.btn-primary:hover {
  /* background-color: #01E3F4; */
  box-shadow: #01E3F4 0px 5px 15px;
  /* transform: scale(1.1); */
  color: black;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #3e3e3e;
  font-family: poppins;
  color: white;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
  box-shadow: #000000ee 0 10px 25px;
  position: relative;
}

.popup-content p {
  margin: 0;
}

.close {
  position: absolute;
  top: 0;
  margin-right: 5px;
  right: 0px;
  font-size: 28px;
  color: #01E3F4;
  cursor: pointer;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 7px 20px;
  background-color: black;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.footer-text {
  text-align: center;
  color: white;
  font-family: poppins;
}

.footer.sticky {
  width: 100%;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {

  .main,
  .about,
  .skills-def,
  .skill {
    width: 100%;
  }

  .main {
    padding: 0;
    margin-top: 1rem;
  }

  .screen {
    height: auto;
    margin-top: 4.5rem;
  }

  .skill-h1 {
    margin-top: 1rem;
  }

  .img {
    width: 50%;
    margin-right: 2rem;
  }

  .text {
    width: 100%;
  }

  .img-container {
    overflow: hidden;
    width: 80%;
  }

  .btn-primary {
    width: 15vw;
  }
}

@media only screen and (max-width: 520px) {

  .all {
    padding: 0 1rem;
  }

  .main-h1 {
    margin-top: 15px;
    padding: 0;
    font-size: 1.7rem;
  }

  .navbar.scrolled .navbar-nav {
    gap: 5px !important;
  }

  .navbar.scrolled .nav-item {
    /* border: 1px solid black !important; */
    border-radius: 5px;
    background: gold;
  }

  .navbar.scrolled .navbar-toggler {
    background-color: black;
  }

  .navbar.scrolled .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='gold' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }

  .collapse {
    overflow: hidden;
    transition: height 0.5s ease;
  }

  .collapse.collapsing {
    max-height: 0;
  }

  .navbar-brand {
    font-size: 1.4rem;
  }

  .navbar-toggler {
    padding: 0 0.4rem;
  }

  .nav-link {
    padding: 1rem;
    margin-left: 0rem;
    font-size: 1rem;
  }

  .img {
    width: 70%;
    margin-right: 1rem;
  }

  .text {
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .portfolio {
    padding: 1.5rem 0.8rem;
  }

  .skill-container {
    padding: 1rem 0;
  }

  /* .skill-h1 {
    padding: 1rem 0;
  } */

  .skills-def {
    font-size: 1rem;
    padding: 1rem;
  }

  .skill-summary {
    width: 100%;
    margin-bottom: 4rem;
  }

  .img-container {
    padding: 1rem 0;
    width: 98%;
    overflow: hidden;
  }

  .img-container img {
    width: 42%;
  }

  .contact {
    height: auto;
    padding: 1rem;
  }

  .contact-container {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-img {
    width: 100%;
  }

  .contact-form {
    padding: 1rem;
    width: 100%;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .about-container {
    padding: 1rem 0;
    /* margin-bottom: 6rem; */
  }

  .about-text {
    font-size: 14px;
    padding: 0;
  }

  .about-img {
    padding-bottom: 1.5rem;
  }

  .about-img img {
    height: 180px;
    width: 180px;
  }

  .btn-primary {
    width: 15vw;
  }

  .footer {
    margin-top: 2rem;
  }

  .footer-text {
    font-size: 0.8rem;
  }

  .intro {
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .main-img {
    padding: 1.5rem 0;
  }

  .main-img img {
    height: 200px;
    width: 200px;
  }

  .main-text {
    font-size: 14px;
  }

  .portfolio-info p {
    font-size: 14px;
  }

  .about-img img {
    height: 180px;
    width: 180px;
  }

  .modal-content {
    width: 98%;
  }

  .modal-content p {
    font-size: 14px;
  }

  .hr {
    margin-bottom: 2rem;
    top: 0;
  }
}

@media screen and (max-width:420px) {
  .intro {
    padding: 0 1rem;
  }

  .main-h1 {
    font-size: 19px;
  }

  .wrapper .icon {
    height: 15px;
    width: 15px;
  }

  .wrapper {
    gap: 8px;
  }

  .main-text {
    font-size: 14px;
  }

  .main-img img {
    height: 200px;
    width: 200px;
  }

  /* .contact {
    padding: 1rem;
  } */

}

@media screen and (max-width: 360px) {
  .portfolio-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}