* {
  margin: 0;
  padding: 0;
  /* #01E3F4 */
}

body {
  background-color: #000000e1;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
}

.navbar-brand {
  font-family: calibri;
  font-size: 1.5rem;
}

.nav-link {
  margin-left: 2rem;
  font-size: 1.05rem;
  color: white;
  font-family: calibri;
}

.nav-link:hover {
  color: orange;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: auto;
  border-radius: 10px;
  background-color: #3e3e3e;
  box-shadow: #000000ee 0 10px 25px;
}

.text {
  margin-left: 4rem;
  color: white;
  width: 50%;
}

.h-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p-about {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.05rem;
}

.social {
  display: flex;
  gap: 25px;
  font-size: 1.5rem;
  transition: ease-in-out 0.2;
  color: #01E3F4;
}

.social a {
  color: #01E3F4;
}

.social i:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.btn {
  transition: ease-in-out 0.1s;
}

.btn:hover {
  box-shadow: #01E3F4 0px 5px 15px;
  transform: scale(1.1);
}

.img {
  height: 60%;
  width: 23%;
  margin-right: 4rem;
  border: 1px solid white;
  border-radius: 50%;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
  height: auto;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  border-radius: 10px;
  background-color: #3e3e3e;
  box-shadow: #000000ee 0 10px 25px;
}

.img-container {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  width: 32%;
  height: auto;
  border: 1px solid gray;
}

.img-container:hover {
  background-color: rgb(204, 204, 204);
  box-shadow: #01E3F4 0 5px 15px;
  cursor: pointer;
}

.img-container img {
  transition: transform 0.3s;
  display: cover;
  width: 32%;
  height: auto;

}

.img-container img:hover {
  transform: scale(1.5);

}

.about {
  width: 90%;
  height: 60vh;
  border-radius: 10px;
  background-color: #3e3e3e;
  box-shadow: #000000ee 0 10px 25px;
}

button,
input {
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  height: 100%;
  justify-content: center;
}

.container-2 {
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
  height: 70vh;
  margin-bottom: 4rem;
  box-shadow: #000000ee 0 10px 25px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-body {
  display: flex;
  align-items: center;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #01E3F4;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #01E3F4;
}

.app-contact {
  margin-top: 9rem;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background-color: #01E3F4;
  border-radius: 15px;
  border: none;
  color: black;
  font-size: 1.1rem;
  padding: 0.5rem;
  width: 10vw;
  cursor: pointer;
  outline: none;
  transition: ease-in-out;
}

.app-form-button:hover {
  transform: scale(1.1);
  box-shadow: #01E3F4 0 5px 15px;
}


@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 3rem;
  position: fixed;
  bottom: 0;
  background-color: black;
}